* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "adobe-myungjo-std", sans-serif;
}



body {
    padding: 20px;
    background-image: url('../../../assets/background3-blur.gif'); /* Set the background image */
    background-repeat: repeat; 
   

}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    z-index: 13;
  }

  .eg {
    font-family: "century";
    line-height: 1.9;
  }

p {
    text-align: left; /* Set text alignment to left */
    margin-left: 20px; /* Optional: Add some left margin for better readability */
}

.tab {
  display: inline-block;
  margin-left: 1em;
}
.tabkr {
  display: inline-block;
  margin-left: -1em;
}

  .slider-holder {
    width:80%;
    overflow: hidden;
    /* height: 600px; */
    background-color: rgba(121, 119, 117, 0.5);
    position: relative;
    margin: 0 auto; /* Center horizontally */
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 16%;  */
  }

  .slider-holder::-webkit-scrollbar {
    display: none;
}
.image-holder {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.image-wrapper {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease;
}

.slider-image {
  width: 50%;
  flex: 0 0 auto;
  margin-top:5%;
  margin-bottom:5%;
}
.slider-image h2{
  text-align: left !important; /* Set text alignment to left */
  margin-left: 20%; /* Optional: Add some left margin for better readability */
}

.slider-image p {
  text-align: left !important; /* Override other styles */
  margin-left: 20%; /* Add some left margin for better readability */
}

.work-kr, .work-en {
  width: 100%;
  height: auto;
}

#slider-image-1:target ~ .image-holder .image-wrapper {
  transform: translateX(0%);
}

#slider-image-2:target ~ .image-holder .image-wrapper {
  transform: translateX(-50%);
}

#slider-image-1:target ~ .image-holder .slider-image:nth-child(2),
#slider-image-2:target ~ .image-holder .slider-image:nth-child(1) {
  opacity: 0;
}


  .slider-holder h2,
  .slider-holder p {
    width: 100%; /* Each text takes half the container width */
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  /* Hide the second text initially */
#slider-image-2 {
  transform: translateX(100%);
}

/* Adjust the left position for texts based on the target */
#slider-image-1:target ~ .text-holder {
  transform: translateX(0%);
}

#slider-image-2:target ~ .text-holder {
  transform: translateX(-50%);
}

 
.button-holder
{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Align buttons horizontally */
  padding-bottom: 20px; /* Adjust as needed for spacing */
}

.slider-change {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Adjust the width and height to make the buttons smaller */
  height: 30px;
  border-radius: 50%; /* Make it circular */
  background-color: rgba(121, 119, 117);
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px; /* Reduce the font size for the letters */
  color: white;
}
  .topnav {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 10;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav-right {
    margin-left: auto;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 8px 50px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
   
  }
  
  .dropdown-menu:hover .dropdown-content {
    display: block;
  }
img {
    width: 180px;
    height: 100px;
    margin-bottom: 30px;
}

div {
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
   }

@media screen and (max-width: 900px) {

   img {
    width: 50px;
    height: 22px;
    margin-bottom: 2.5px;
    }

}