* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "adobe-myungjo-std", sans-serif;
}

:root {
  --color-text: white;
  --color-bg: black;
  --color-bg-accent: white;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}


body {
  display: grid;
  align-content: center;
  overflow: hidden;
  background-image: url('assets/background2.gif'); /* Set the background image */
  background-repeat: repeat; /* Ensure the image repeats seamlessly */
  /* Add other styles as needed */
  gap: var(--gap);
  width: 100%;
  min-height: 100vh;
  font-family: "adobe-myungjo-std", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Set a higher z-index to keep it above the background */
  font-family: "adobe-myungjo-std", sans-serif;
  font-size: 1.25rem;
  text-shadow:15px 15px 15px rgba(0, 0, 0, 0.904);
  /* -webkit-text-stroke: rgba(0, 0, 0) .2px; */
  color: var(--color-text); /* Use your desired text color */
}

h2 {
  position: absolute;
  bottom: 35px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1;
  font-family: "century";
  font-size: 1.25rem;
  text-shadow:15px 15px 15px rgba(0, 0, 0, 0.904);
  /* -webkit-text-stroke: rgba(0, 0, 0).1px; */
}

.menu-button {
  position: absolute;
  top: 0; /* Adjust this value to position vertically */
  width: 50px; /* Adjust button width as needed */
  height: 50px; /* Adjust button height as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Example background color */
  border: none;
  /* Other styling properties */
}

.left-menu {
  left: 10px; /* Adjust left position of the left menu button */
}

.right-menu {
  right: 10px; /* Adjust right position of the right menu button */
}

.marquee {
  
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee_group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee_group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  flex-direction: column;
}

/* .marquee--vertical,
.marquee--vertical .marquee_group {
  flex-direction: column;
} */



.marquee--reverse .marquee_group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}
.marquee--vertical .marquee_group {
  animation-name: scroll-y;
}
/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio: 16/9;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}

.marquee--vertical svg {
  aspect-ratio: 1;
  width: calc(var(--size) / 1.5);
  padding: calc(var(--size) / 6);
}

/* Parent wrapper */
.wrapper {
  display: absolute;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
}

.wrapper--vertical {
  flex-direction: row;
  height: 100vh;
}

/* Toggle direction button */
.toggle {
  --size: 3rem;
  position: relative;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: var(--size);
  height: var(--size);
  font: inherit;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  background-color: var(--color-bg-accent);
  z-index: 3;
}

.toggle:focus-visible {
  box-shadow: 0 0 0 2px var(--color-text);
}

.toggle span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: calc(100% + 0.4em);
  width: fit-content;
  white-space: nowrap;
  transform: translateY(-50%);
  animation: fade 400ms 4s ease-out forwards;
  user-select: none;
}

.toggle img {
  --size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
  transform: translate(-50%, -50%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.toggle--vertical img {
  transform: translate(-50%, -50%) rotate(-90deg);
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
