* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    align-content: center;
    overflow: auto;
    background-image: url('../assets/background3.gif');
    background-repeat: repeat;
    gap: var(--gap);
    width: 100%;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  .spacer {
    flex-grow: 1;
  }
  
  header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    font-family: "이슬아손글씨";
    align-items: center;
    padding: 10px 20px;
    color: white;
    z-index: 13;
  }
  
  .topnav {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 10;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav-right {
    margin-left: auto;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    font-family: "이슬아손글씨";
    color: white;
    padding: 8px 50px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
   
  }
  
  .dropdown-menu:hover .dropdown-content {
    display: block;
  }
  
  .container {
    /* background-color: aqua; */
    display: flex;
    padding: 10%;
    overflow: hidden; /* Hide overflow from blurred edges */
    border-radius: 20px; /* Add border-radius to the container */
    z-index: 1;
  }
  
  .column {
    flex: 1;
    padding: 20px;
  }
  
  .left-column,
  .right-column {
    flex: 1;
    position: relative;
    overflow: hidden;
    top: 0;
    padding: 40px;
    backdrop-filter: blur(8px); /* Apply blur effect */
    background-color: rgba(121, 119, 117, 0.5);
    border-radius: 20px; /* Add border-radius to the columns */
    margin: 10px; /* Create some space between columns and container */
    color:white;
    
  
  }
  
  .left-column::before,
  .right-column::before {
    content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px; /* Negative value to extend the shadow */
  right: -10px; /* Negative value to extend the shadow */
  z-index: -1; /* Behind the content */
  border-radius: 20px; /* Match the border-radius */
  background: rgba(0, 0, 0, 0.1); /* Color for the shadow */
  filter: blur(10px); /* Blur effect */
  }

  h1 {
    text-align: center;
  }
  h2 {
    font-family: "adobe-myungjo-std", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  p {
    font-family: "adobe-myungjo-std", sans-serif;
    line-height: 1.6;
  }

  .pquote {
    font-family: "adobe-myungjo-std", sans-serif;
    margin: 20px;
    font-size: .9rem;
    line-height: 1.6;
  
  }

  .tab {
    display: inline-block;
    margin-left: 1em;
  }

  .eg {
    font-family: "century";
  }

  img {
    width: 400px;
    height: auto;
    margin-bottom: 30px;
    margin: auto;
}

.work-en {
  /* Your existing properties */
  display: grid;
  place-items: center;
}